@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
}

:root {
    --white: #F5F5F5;
    --blu: #2F41E2;
    --jet: #2F2F2F;
    --green: #005B41;

}

html {font-size: 16px;}

body {
  font-family: 'Lexend', sans-serif;
  font-weight: false;
  background-color: #171717;
}

.text-color-white {
    color: var(--white);
}

.text-color-blu {
    color: var(--blu);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-wrapped {
    width: 60%;
}

p {
  font-size: 1em;
}

.text-size-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

.text-size-h2 { font-family: 'Oswald', sans-serif; font-size: 2.44em; }

.text-size-h3 { font-family: 'Oswald', sans-serif; font-size: 1.95em; }

.text-size-h4 { font-size: 1.56em; }

.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

.text-small {
  font-size: 0.64em;
}

.heading {
    line-height: 1.1em;
    letter-spacing: -.02em;
}

.text {
    line-height: 1.5em;
}

.container {
    padding: 8px 16px;
}

.card {
    align-items: center;
    background-color: var(--jet);
    width: 32%;
    border-radius: 24px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 260px;
    border-radius: 24px;
    object-fit: cover;
}

.card:hover {
    background-color: var(--green);
}

.card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 32px;
}

.section-hero span {
    transition: 0.3s;
}

.section-hero span:hover {
    color: var(--green);
}

.section-cards {
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.section-cards .card .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.section-scelta-strategica .content {
    display: flex;
    align-items: center;
}

.section-scelta-strategica .content .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-scelta-strategica .content {
    padding: 48px;
}
       
.section-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: var(--blu);

    background-image: url("./assets/marc_andreessen.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
}

.section-quote h1 {
    width: 60%;
}

.section-tiles {
    height: 85vh;
    padding: 80px;
    margin-top: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "first second third"
        "fourth second third"
        "fifth fifth third";
    gap: 12px 12px;
}

.section-tiles .tile-item:nth-child(1) {
    grid-area: first;
    background-color: #f25117;
}

.section-tiles .tile-item:nth-child(2) {
    grid-area: second;
    background-color: #f2a104;
}

.section-tiles .tile-item:nth-child(3) {
    grid-area: third;
    /* background-color: #72a2c0; */
    background-color: #252A34;
}

.section-tiles .tile-item:nth-child(4) {
    grid-area: fourth;
    background-color: #1d65a6;
}

.section-tiles .tile-item:nth-child(5) {
    grid-area: fifth;
    background-color: #00743f;
}

.tile-item {
    background-color: var(--green);
    border-radius: 12px;
}

.tile-item .content {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 24px;
}

.tile-item .content .text {
    /* font-size: 1.1em; */
    font-weight: 600;
}

.section-info {
    padding: 80px;
    display: flex;
    gap: 24px;
}

.section-info .infobox {
    display: flex;
}

.section-info .infobox .box {
    width: 32px;
    background-color: var(--blu);
}

.section-info .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--jet);
}

.section-image {
    padding: 24px;
    height: 80vh;
    background-image: url("./assets/bill_gates_vs_netscape-nobg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #008170;
}

.section-conclusione {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-evenly;
    margin-top: 12px;
    height: 100vh;
    padding: 80px;
}

.section-conclusione .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-conclusione .content p {
    width: 50%;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
